@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

html {
	-webkit-transition: background-image 1s ease;
	transition: background-image 1s ease;
}
body {
	background: url(../images/asayake02.jpg) no-repeat center center;
	background-size: cover;
}
body:before {
	-webkit-filter: blur(6px);
	filter: blur(6px);
	content: "";
	position: absolute;
	top: -5px;
	bottom: -5px;
	left: -5px;
	right: -5px;
	background: inherit;
}

html,
body,
main,
section,
.stage {
	height: 100%;
}

main {
	position: relative;
}

.stage {
	-webkit-perspective: 2000;
	perspective: 2000;
	width:400px;
	height: 400px;
	position: absolute;
	top:50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -200px;
}
ul.navi {
	display: table;
	z-index: 10;
}
ul.navi li {
	display: table-cell;
	width: 100px;
	text-align: center;
	border-left: 1px solid #000;
}
ul.navi li:last-child {
	border-right: 1px solid #000;
}

ul.thumb {
	position: fixed;
	list-style-type: none;
	top:  40px;
	right: 60px;
	/*display: table;*/
}
ul.thumb li:nth-child(1) {
	background-image: url(../images/ChampsElysees_thumb.jpg);
}
ul.thumb li:nth-child(2) {
	background-image: url(../images/Versailles00_thumb.jpg);
}
ul.thumb li:nth-child(3) {
	background-image: url(../images/Louvre_thumb.jpg);
}
ul.thumb li:nth-child(4) {
	background-image: url(../images/montmartre_thumb.jpg);
}
ul.thumb li:nth-child(5) {
	background-image: url(../images/Versailles02_thumb.jpg);
}
ul.thumb li:nth-child(6) {
	background-image: url(../images/Versailles01_thumb.jpg);
}
ul.thumb li {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	border: 2px solid #fff;
	box-sizing: border-box;
	line-height: 90px;
	text-align: center;
	font-size: 20px;
	color: #fff;
	cursor: pointer;

}
ul.thumb li span{
	border-radius:50%;
	display: block;
	opacity: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
ul.thumb li:hover span{
	opacity: 1;
	background-color: rgba(255,255,255,0.2);
}
#cube {
	height: 400px;
	width: 400px;
	position: relative;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -200px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(-1000px) rotateY(0deg) rotateX(0deg);
	transform: translateZ(-1000px) rotateY(0deg) rotateX(0deg);
	-webkit-transition: -webkit-transform 2s linear;
	transition: transform 2s linear;
}
#cube.rollingFor {
	-webkit-transform: translateZ(-1000px) rotateY(360deg) rotateX(360deg);
	transform: translateZ(-1000px) rotateY(360deg) rotateX(360deg);
	-webkit-transition: -webkit-transform 30s linear;
	transition: transform 30s linear;
}
#cube.rollingRev {
	-webkit-transform: translateZ(-1000px) rotateY(0deg) rotateX(0deg);
	transform: translateZ(-1000px) rotateY(0deg) rotateX(0deg);
	-webkit-transition: -webkit-transform 30s linear;
	transition: transform 30s linear;
}

#cube.stoppingCube {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}
#cube.front {
	-webkit-transform: translateZ(1000px) rotate3d(0,0,0,0deg);
	transform: translateZ(1000px) rotate3d(0,0,0,0deg);
	-webkit-transition: -webkit-transform 2s ease;
	transition: transform 2s ease;
}
#cube.back {
	-webkit-transform: rotate3d(0,1,0,180deg);
	transform: rotate3d(0,1,0,180deg);
}
#cube.top {
	-webkit-transform: rotate3d(1,0,0,-90deg);
	transform: rotate3d(1,0,0,-90deg);
}
#cube.bottom {
	-webkit-transform: rotate3d(1,0,0,90deg);
	transform: rotate3d(1,0,0,90deg);
}
#cube.left {
	-webkit-transform: rotate3d(0,1,0,90deg);
	transform: rotate3d(0,1,0,90deg);
}

#cube.right {
	-webkit-transform: rotateY(270deg);
	transform: rotateY(270deg);
}


#cube div {
	height: 400px;
	width: 400px;
	position: absolute;
	color: #fff;
	text-align: center;
	line-height: 400px;
}

.pict {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 0.9;
}


.side_front {
	background-image: url(../images/ChampsElysees.jpg);
	top: 0px;
	left: 0px;
	-webkit-transform: translateZ(-800px);
	transform: translateZ(-800px);
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
}
.front .side_front {
	opacity:1;
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
}

.side_back {
	background-image: url(../images/Versailles00.jpg);
	top: 0px;
	left: 0px;
	-webkit-transform: translateZ(-1200px) rotateY(180deg);
	transform: translateZ(-1200px) rotateY(180deg);
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
}
.back .side_back {
	opacity:1;
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
}

.side_top {
	background-image: url(../images/Louvre.jpg);
	top: -200px;
	left: 0px;
	-webkit-transform: translateZ(-1000px) rotateX(90deg);
	transform: translateZ(-1000px) rotateX(90deg);
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
}
.top .side_top {
	opacity:1;
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
}

.side_bottom {
	background-image: url(../images/montmartre.jpg);
	bottom: -200px;
	left: 0px;
	-webkit-transform: translateZ(-1000px) rotateX(-90deg);
	transform: translateZ(-1000px) rotateX(-90deg);
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
}
.bottom .side_bottom {
	opacity:1;
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
}

.side_left {
	background-image: url(../images/Versailles02.jpg);
	top: 0px;
	left: -200px;
	-webkit-transform: translateZ(-1000px) rotateY(-90deg);
	transform: translateZ(-1000px) rotateY(-90deg);
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
}
.left .side_left {
	opacity:1;
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
}

.side_right {
	background-image: url(../images/Versailles01.jpg);
	top: 0px;
	right: -200px;
	-webkit-transform: translateZ(-1000px) rotateY(90deg);
	transform: translateZ(-1000px) rotateY(90deg);
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
}
.right .side_right {
	opacity:1;
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
}

