@charset "utf-8";
html,
body,
main,
section,
.stage {
	height: 100%;
}

main {
	position: relative;
}

.stage {
	-webkit-perspective: 1000;
	perspective: 1000;
}

#cube {
	height: 200px;
	width: 200px;
	position: relative;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: rotate3d(0,0,0,0deg);
	transform: rotate3d(0,0,0,0deg);
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}
#cube.rollingCube {
	-webkit-animation: kaiten 10s linear infinite;
	animation: kaiten 10s linear infinite;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}
#cube.stoppingCube {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}
#cube.front {
	-webkit-transform: rotate3d(0,0,0,0deg);
	transform: rotate3d(0,0,0,0deg);
}
#cube.back {
	-webkit-transform: rotate3d(0,1,0,180deg);
	transform: rotate3d(0,1,0,180deg);
}
#cube.top {
	-webkit-transform: rotate3d(1,0,0,-90deg);
	transform: rotate3d(1,0,0,-90deg);
}
#cube.bottom {
	-webkit-transform: rotate3d(1,0,0,90deg);
	transform: rotate3d(1,0,0,90deg);
}
#cube.left {
	-webkit-transform: rotate3d(0,1,0,90deg);
	transform: rotate3d(0,1,0,90deg) scale3d(2,2,2);
}

#cube.right {
	-webkit-transform: rotateY(270deg);
	transform: rotateY(270deg);
}

@-webkit-keyframes kaiten {
	0%{-webkit-transform: rotate3d(1,2,1,0deg);transform: rotate3d(1,2,1,0deg);}
	100%{-webkit-transform: rotate3d(1,2,1,360deg);transform: rotate3d(1,2,1,360deg);}
}
@keyframes kaiten {
	0%{-webkit-transform: rotate3d(1,2,1,0deg);transform: rotate3d(1,2,1,0deg);}
	100%{-webkit-transform: rotate3d(1,2,1,360deg);transform: rotate3d(1,2,1,360deg);}
}


#cube div {
	height: 200px;
	width: 200px;
	position: absolute;
	color: #fff;
	text-align: center;
	line-height: 200px;
}

.side_top {
	background: rgba(0, 0, 0, 0.7);
	top: -100px;
	left: 0px;
	-webkit-transform: rotateX(90deg);
	-ms-transform: rotateX(90deg);
	transform: rotateX(90deg);
}

.side_bottom {
	background: rgba(0, 0, 0, 0.7);
	bottom: -100px;
	left: 0px;
	-webkit-transform: rotateX(-90deg);
	-ms-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
}

.side_front {
	background: rgba(215, 0, 81, 0.7);
	top: 0px;
	left: 0px;
	-webkit-transform: translateZ(100px);
	transform: translateZ(100px);
}

.side_back {
	background: rgba(215, 0, 81, 0.7);
	top: 0px;
	left: 0px;
	-webkit-transform: translateZ(-100px);
	transform: translateZ(-100px) rotateY(180deg);
}

.side_right {
	background: rgba(0, 160, 233, 0.7);
	top: 0px;
	right: -100px;
	-webkit-transform: rotateY(90deg);
	-ms-transform: rotateY(90deg);
	transform: rotateY(90deg);
}

.side_left {
	background: rgba(0, 160, 233, 0.7);
	top: 0px;
	left: -100px;
	-webkit-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
}
